COGNITO_REGION=us-east-2
COGNITO_USER_POOL_ID=us-east-2_lI8jVjjPF
COGNITO_CLIENT_ID=416pkdu53qvh601l2o8go17skj
COGNITO_CLIENT_SECRET=SET_IN_VERCEL_SECRET
COOLPROOF_API_BASE_URL=https://3.15.34.25.sslip.io
NEXT_PUBLIC_DEFAULT_ORGANIZATION_ID=7b149193-e974-40e1-8f02-bc02d5ab6736
